.salmanii-servicesSection{
    width: 100%;
    min-height: 100%;
}

.salmanii-services{
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
}

.salmanii-service-item{
    margin-bottom: 30px;
    flex-basis: 0 0 32%;
    max-width: 32%;
}

.salmanii-service-item-inside{
    background-color: var(--bg-white-100);
    border: 1px solid var(--bg-white-50);
    border-radius: 10px;
    padding: 30px 15px;
    text-align: center;
    transition: all 0.3 ease;
}

.salmanii-service-item-inside:hover{
    box-shadow: 0 0 20px rgba(48,46,77,0.15);
}

.salmanii-service-item-inside .icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    margin: 0 auto 20px;
   transition: all 0.3 ease;
}

.salmanii-service-item-inside .icon i{
   font-size: 30px;
   line-height: 50px;
   color: var(--skin-color);
}

.salmanii-service-item-inside:hover .icon{
    background-color: var(--skin-color);
}

.salmanii-service-item-inside:hover .icon i{
    color: var(--bg-white-100);
    font-size: 25px;
}

.salmanii-service-item-inside h4{
    color: var(--text-black-900);
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
}

.salmanii-service-item-inside p{
    color: var(--text-black-700);
    font-size: 16px;
    line-height: 25px;
}