@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bg-white-900: #f2f2fc;
    --bg-white-100: #fdf9ff;
    --bg-white-50: #e8dfec;
    --text-black-900: #302e4d;
    --text-black-700: #504e70;
}
html,body{
    display: flex;
    font-family: 'Poppins' sans-serif;
    width: 100%;
    min-height: 100%;
}

header{
    background-color: var(--bg-white-100);
    border-right: 1px solid var(--bg-white-50);
    width: 20%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    background-color:var(--bg-white-900);
    margin-left: 20%;
    width: 80%;
    flex: 1;
    display: flex;
    min-height:100vh ;
}


ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.salmanii-logo{
    position: absolute;
    top: 50px;
    font-size: 30px;
}

.salmanii-logo a{
    color: var(--text-black-900);
    font-weight: 700;
    padding: 15px 20px;
    letter-spacing: 3px;
    position: relative;
}

.salmanii-logo a span{
    font-family: 'Clicker Script', cursive;
}

.salmanii-logo a::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid var(--skin-color);
    border-left: 5px solid var(--skin-color);
    bottom: 0;
    left: 0;
}

.salmanii-logo a::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 5px solid var(--skin-color);
    border-right: 5px solid var(--skin-color);
    top: 0;
    right: 0;
}

nav ul{
    margin-top: 100px;
}

nav ul li{
    border-bottom: 1px solid var(--bg-white-50);
    margin-bottom: 20px;
    padding: 5px 15px;
}

nav ul li a{
    color: var(--text-black-900);
}

nav ul li a.active{
    color: var(--skin-color);
}

nav ul li a i{
    margin-right: 15px;
}

.salmanii-Section{
    width: 100%;
    height:100% ;
    padding: 40px 30px;
}

.flb_100{
    flex-basis: 100%;
    max-width: 100%;
}

.flb_60{
    flex-basis: 60%;
    max-width: 60%;
}

.flb_40{
    flex-basis: 40%;
    max-width: 40%;
}

.flb_50{
    flex-basis: 50%;
    max-width: 50%;
}

.flb_45{
    flex-basis: 45%;
    max-width: 45%;
}

.flb_48{
    flex-basis: 48%;
    max-width: 48%;
}

a.btn{
    font-size: 16px;
    font-weight: 700;
    padding: 12px 35px;
    background-color: var(--skin-color);
    border-radius: 40px;
    display: inline-block;
    color: white;
    transition: all 0.3 ease;
    width: 150px;
    text-align: center;
}

.btn:hover{
    transform: scale(1.05);
}

.shadow-dark{
    box-shadow: 0 0 20px rgba(48,46,77,0.15);
}

.salmanii-section-title{
    margin-bottom: 60px;
}

.salmanii-section-title h1{
    position: relative;
    font-size: 40px;
    color: var(--text-black-900);
}

.salmanii-section-title h1::before{
    content: '';
    position: absolute;
    width: 60px;
    height: 4px;
    background-color:var(--skin-color);
    top: 100%;
    left: 0;
}

.salmanii-section-title h1::after{
    content: '';
    position: absolute;
    width: 30px;
    height: 4px;
    background-color:var(--skin-color);
    top: 100%;
    left: 0;
    margin-top: 8px;
}

.salmanii-outline-section,.salmanii-outline-section-inside{
    width: 100%;
    min-height: 100%;
}

.salmanii-outline-section{
    position: relative;
    padding: 40px;
}

.salmanii-outline-section-inside::before{
    content: '';
    position: absolute;
    width: 80px;
    height: 80px;
    border-top: 10px solid var(--skin-color);
    border-left: 10px solid var(--skin-color);
    top: 0;
    left: 0;
}

.salmanii-outline-section-inside::after{
    content: '';
    position: absolute;
    width: 80px;
    height: 80px;
    border-right: 10px solid var(--skin-color);
    border-bottom: 10px solid var(--skin-color);
    bottom: 0;
    right: 0;
}